
.container {
    margin: 0 auto;
    padding: 0 20px;
    background-image: url('https://img.goodfon.ru/wallpaper/big/5/e3/blue-material-design-tekstura-fon-linii-background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}