.root {
    margin-top: 20px;
    background-color: white;
}

.title {

    margin-bottom: 20px;
}

.userList {
    list-style-type: none;
    padding: 0;
}

.userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.userInfo {
    flex: 1;
}

.username,
.userId {
    margin-bottom: 5px;
}

.usernameValue,
.userIdValue {
    margin-bottom: 10px;
    font-weight: bold;
}

.unblockButton {
    background-color: #f50057;
    color: #fff;
    transition: background-color 0.3s ease;
}

.unblockButton:hover {
    background-color: #c51162;
}

.noUsersMessage {
    margin-top: 20px;
}
