
.info-page-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.no-data {
    color: #666;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}